/* Google Font, url link obtained from the Google Fonts website */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@700&display=swap');

/* Used Source Code for the base structure of the entire CSS code, but applied the values for my portfolio. */
body {
    font-family: 'Lato', sans-serif;
    background: #fff;
}

#logo {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
}

.game {
    background: #d2eaeb;
    margin-left: 20%;
    margin-right: 20%;
    height: 450px;
    border: 4px solid black;
    width: 100%;
}

.controls {
    margin-left: 80px;
}

.btn {
    width: 70px;
    height: 70px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
    background-color: #fff;
}

.btn::after {
    content: attr(data-type);
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

.fa-plus {
    color: green;
}

.fa-minus {
    color: red;
}

.fa-times {
    color: blue;
}

.fa-divide {
    color:  rgb(211, 183, 26);
}

.questions {
    margin-top: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
}

.questions span {
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 100px;
    font-size: 30px;
}

#answer {
    width: 70px;
    height: 50px;
    margin-left: 50px;
}

#submit-answer {
    background-color: #fff;
    margin-left: 12%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
}

.answer-button {
    margin-left: 400px;
    margin-top: 100px;
}

.score p {
    display: inline-block;
    margin-left: 20%;
    margin-right: 19%;
    text-transform: uppercase;
}

#correct {
    color: green;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

#incorrect {
    color: red;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.user-submit {
    text-align: center;
    margin-top: 5%;
}

#email {
    width: 12%;
}

h2 {
    color: #0000ff;
    text-decoration: underline;
}

#send-email {
    background-color: #fff;
    font-weight: bold;
    font-size: 90%;
    margin-left: 0%;
}

/* Code obtained from Youtube video, credited in the README file */
#countdown {
    background-color: white;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 70px;
    width: 150px;
}

/* Media queries for responsiveness (mobile devices) */

@media (min-width: 320px) and (max-width: 480px) {

#logo {
        font-family: 'Oswald', sans-serif;
        font-size: 33px;
        text-align: center;
        margin-top: auto;
}

.game {
    margin-bottom: auto;
    background: #d2eaeb;
    margin-left: -1%;
    height: 320px;
    width: 93%;
    border: 4px solid black;
}

.controls {
    margin-left: 15%;
}

.btn {
    width: 60px;
    height: 65px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #fff;
}

.questions {
    margin-top: 34px;
    margin-left: -4%;
}

.questions span {
    font-size: 29px;
    margin-left: 5%;
    padding-left: 3%;
}

#answer {
    width: 70px;
    height: 50px;
    margin-left: 18px;
}

.answer-button {
    margin-left: 19%;
    margin-top: 45px;
}

#submit-answer {
    background-color: #fff;
    margin-left: 12%;
    margin-top: -4%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
}

.score p {
    margin-left: 0%;
    text-transform: uppercase;
}

.user-submit {
    text-align: center;
    margin-top: 6%;
    margin-right: 10px;
}

#email {
    width: 50%;
}

#send-email {
    background-color: #fff;
    font-weight: bold;
    font-size: 90%;
    margin-top: 3%;
    margin-left: 10%;
}

#countdown {
    background-color: white;
    color: black;
    display: inline-block;
    font-size: 36px;
    height: 51px;
    width: 130px;
    margin-left: 72%;
    margin-top: -5%;
}

}

/* Media queries for responsiveness (iPads, Tablets) */

@media (min-width: 481px) and (max-width: 768px) {

 #logo {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}

.game {
    background: #d2eaeb;
    margin-left: -1%;
    height: 450px;
    width: 101%;
    border: 4px solid black;
}

.controls {
    margin-left: -50px;
    margin-top: -30px;
}

.btn {
    width: 70px;
    height: 70px;
    margin-right: -60px;
    margin-left: 90px;
    margin-top: 50px;
    background-color: #fff;
}

.questions {
    margin-top: 77px;
    margin-left: -70px;
}

.questions span {
    margin-right: -23px;
    margin-left: 100px;
    font-size: 30px;
}

#answer {
    width: 70px;
    height: 50px;
    margin-left: 50px;
}

.answer-button {
    margin-left: 155px;
    margin-top: 100px;
}

#submit-answer {
    background-color: #fff;
    margin-left: 12%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
}

.score p {
    display: inline-block;
    margin-left: 1%;
    margin-right: 20%;
    text-transform: uppercase;
}

.user-submit {
    text-align: center;
    margin-top: 6%;
}

#email {
    width: 45%;
}

#send-email {
    background-color: #fff;
    font-weight: bold;
    font-size: 90%;
    margin-left: 0%;
}

}

/* Media queries for responsiveness (Small screens, laptops) */

@media (min-width: 769px) and (max-width: 1024px) {

#logo {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}

.game {
    background: #d2eaeb;
    margin-left: -1%;
    height: 450px;
    border: 4px solid black;
    width: 101%;
}

.controls {
    margin-left: -35px;
}

.btn {
    width: 70px;
    height: 70px;
    margin-right: 9px;
    margin-left: 13%;
    margin-top: 50px;
    background-color: #fff;
}

.questions {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 6%;
}

.questions span {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    font-size: 30px;
}

#answer {
    width: 70px;
    height: 50px;
    margin-left: 80px;
}

.answer-button {
    margin-left: 35%;
    margin-top: 100px;
}

#submit-answer {
    background-color: #fff;
    margin-left: 12%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
}

.score p {
    display: inline-block;
    margin-left: 37%;
    margin-right: 25%;
    text-transform: uppercase;
}

.user-submit {
    text-align: center;
    margin-top: 5%;
}

#email {
    width: 35%;
}

#send-email {
    background-color: #fff;
    font-weight: bold;
    font-size: 90%;
    margin-left: 0%;
}

}

/* Media queries for responsiveness (Desktops, large screens) */

@media (min-width: 1025px) and (max-width: 1200px) {

#logo {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}

.game {
    background: #d2eaeb;
    margin-left: -0.6%;
    margin-right: 20%;
    height: 450px;
    border: 4px solid black;
    width: 100.6%;
}

.controls {
    margin-left: 46px;
}

.btn {
    width: 70px;
    height: 70px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
    background-color: #fff;
}

.questions {
    margin-top: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 168px;
    font-size: xx-large;
}

.questions span {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 106px;
    font-size: 50px;
}

#answer {
    width: 85px;
    height: 69px;
    margin-left: 54px;
    margin-top: 21px;
}

.answer-button {
    margin-left: 370px;
    margin-top: 60px;
}

#submit-answer {
    background-color: #fff;
    margin-left: 12%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
}

.score p {
    display: inline-block;
    margin-left: 41%;
    text-transform: uppercase;
}

.user-submit {
    text-align: center;
    margin-top: 3%;
}

#email {
    width: 29%;
}

#send-email {
    background-color: #fff;
    font-weight: bold;
    font-size: 90%;
    margin-left: 0%;
}

}

/* Media queries for responsiveness (Extra large screens, TV) */

@media (min-width: 1201px) {

#logo {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    text-align: center;
}

.game {
    background: #d2eaeb;
    margin-left: 3%;
    height: 450px;
    border: 4px solid black;
    width: 93%;
}

.controls {
    margin-left: 80px;
}

.btn {
    width: 70px;
    height: 70px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
    background-color: #fff;
}

.questions {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    font-size: 100px;
}

.questions span {
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 86px;
    font-size: 46px;
}

#answer {
    width: 78px;
    height: 74px;
    margin-left: 50px;
}

.answer-button {
    margin-left: 400px;
    margin-top: 90px;
}

#submit-answer {
    background-color: #fff;
    margin-left: 12%;
    height: 50px;
    font-weight: bold;
    font-size: 100%;
}

.score p {
    display: inline-block;
    margin-left: 15%;
    margin-right: 19%;
    text-transform: uppercase;
}

.user-submit {
    text-align: center;
    margin-top: 4%;
}

#email {
    width: 22%;
}

#send-email {
    background-color: #fff;
    font-weight: bold;
    font-size: 90%;
    margin-left: 0%;
}

}