/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@700&display=swap');

body {
    font-family: Lato, sans-serif;
    background: #fff;
}

header {
    background: #13e9de;
}

#logo {
    font-family: Oswald, sans-serif;
    font-size: 40px;
    text-align: center;
}

.game-area {
    background: #d2eaeb;
    margin-left: 20%;
    margin-right: 20%;
    height: 600px;
}

.controls-area button {
    width: 70px;
    height: 70px;
    margin-right: 80px;
    margin-left: 80px;
    background-color: #fff;
}

.question-area {
    margin-top: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.question-area span {
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 100px;
}

input {
    width: 70px;
    height: 70px;
    margin-left: 100px;
}

#submit-answer {
    padding: 10px;
}

.scores {
    border: 3px solid rgb(3, 66, 238);
}

.score-area p {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}